.box3, .box2, .box1 {  
  display:flex;
  box-sizing: border-box;
  min-width:100%;
}

.box1 {  
  max-height:70%;
  flex:1 1 70%;
}

.box2 {
  height:20px;  
}

.box3 {  
  height:30%;
  max-height:30%;
  flex:1 1 30%;
}


/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/